
body { position:relative;
       background: gray;
       background-image: url(../Imagenes/279455.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       backface-visibility: hidden;
}
.mainMenu {     
    border-radius: 5px;       
    width: 60%;
    height: 50px;

}

ul{
    list-style: none;   
}
label{
    padding: 3px;
    margin: 10px;
    color: #ccc;
}
label:hover{
    color: #E43D52;    
    cursor: pointer;
    height: 34px;
    width: 28px;
}

.label2{
    padding: 3px;
    margin: 10px;
    color: #ccc;
}
.label2:hover{
    color: #E43D52;    
    cursor: pointer;
    height: 34px;
    width: 28px;
}

.btn {    
    vertical-align: -10px;
    height: 30px; 
    width: 30px;
    vertical-align: -10px;
    //background-color: #D1B3E8;
    color: #000;
    border: 0px;
    border-radius: 3px;
    width: auto;
    height: 25px;
    cursor: pointer;
}

.btn:hover{        
     color: #FDEFF0;    
     background-color: rgba(255,0,0,0.30) ;     
}

.panel{
    background-color: #ddd;
    border-radius: 5px;   
    padding: 3px;
    margin: 10px;
    height: 600px; 
    width: 800px;
}