
body { position:relative;
       background: gray;
       background-image: url(../Imagenes/279455.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       backface-visibility: hidden;
}
.mainMenu {     
    border-radius: 5px;       
    width: 60%;
    height: 50px;

}

ul{
    list-style: none;   
}
label{
    padding: 3px;
    margin: 10px;
    color: #ccc;
}
label:hover{
    color: #E43D52;    
    cursor: pointer;
    height: 34px;
    width: 28px;
}

.label2{
    padding: 3px;
    margin: 10px;
    color: #ccc;
}
.label2:hover{
    color: #E43D52;    
    cursor: pointer;
    height: 34px;
    width: 28px;
}

.btn {    
    vertical-align: -10px;
    height: 30px; 
    width: 30px;
    vertical-align: -10px;
    //background-color: #D1B3E8;
    color: #000;
    border: 0px;
    border-radius: 3px;
    width: auto;
    height: 25px;
    cursor: pointer;
}

.btn:hover{        
    color: #FDEFF0;    
    background-color: rgba(255,0,0,0.30) ;     
}


.panel{
    background-color: #ddd;
    border-radius: 5px;   
    padding: 3px;
    margin: 10px;
    height: 60%; 
    width: 80%;
}

.btnLock{
    vertical-align: -10px;
    height: 60px; 
    width: 60px;
    vertical-align: -20px;
    //background-color: #D1B3E8;
    color: #000;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;       
}
.btnLock:hover{
    color: #FDEFF0;    
    background-color: rgba(255,0,0,0.30) ;     
}

.myTableStyle {    
    margin-bottom: 25px;
    margin-top: 25px;
}

#formImagen{
    position: absolute;
    display: none;
    float: right;
    margin-top: 10%;
    margin-left: 10%;
    
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Cambiar Foto';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: url(../Imagenes/backgroundButton.png);
  background-color: #584545 ;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 7pt;
  font-size: 10pt;
  
}
.custom-file-input:hover::before {
  border-color: black;
   background-color: rgba(255,0,0,0.30) ; 
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

