
body { position:relative;
       background: gray;
       background-image: url(../Imagenes/279455.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       backface-visibility: hidden;
}
.mainMenu {     
    border-radius: 5px;   
    padding: 3px;
    margin: 10px;
    width: 60%;        

}

ul{
    list-style: none;   
}
label{
    padding: 3px;
    margin: 10px;
    color: #ccc;
}
label:hover{
    color: #E43D52;    
    cursor: pointer;
    height: 34px;
    width: 28px;
}

.btn {    
    background-color: #D1B3E8;
    color: #000;
    border: 0px;
    border-radius: 3px;
    width: auto;
    height: 25px;
    cursor: pointer;
}