
body {    
    position:relative;
    background: gray;
    background-image: url(../Imagenes/279455.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
}

.divs { 
    border-radius: 5px;
    background: white;
    padding: 20px;
    width: 200px;  
}

#entrar { 
    margin-top: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 120px;
    transform: translate(-50%, -50%);
}

#registro{
    margin-top: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 220px;
    transform: translate(-50%, -50%);
}
/*
#main{
    float: right;
    margin-top: 100px;
    margin-right: 150px;
}*/

.btn {
    background-color: #30353e;
    color: #FFF;
    border: 0px;
    border-radius: 3px;
    width: auto;
    height: 25px;
    margin: 10px;
}

input {
    margin: 2px;
}

.imagen {
    float: left;   
    margin-top: 100px;
    margin-left: 150px;
}​

font {
    color: white;
}
.error{
    color: #FFF;
    background-color: #E43D52;   
    float: right;    
    display: inline;       
}

.bien{
    color: #FFF;
    background-color: #0DFF5A;   
    float: right;    
    display: inline;       
}
.imgHolder {
    /*content:url(../Imagenes/mensaje.png);*/
    position: absolute;
    height: 20px;
    width: 110px;
    right: 150px;
    top: 110px;
}
/*
.imgHolder span {
    color: red;
    position: absolute;
    right: 50px;
    top: 10px;
}*/
/*<span>Here's the overlay text</span>*/
.lblMensaje{
    position: absolute;
    right:0px;
    top: 0px;
}
