.contenedores {
    border:2px solid #ACD8F0;
    background-color: white;
    padding:10px;
    text-align:left;
    margin:0 auto;
    height:100%; 
    width:150px; 
    margin-right: 0px;    
}

#muro {
    width: 500px;  
    overflow: auto;
}

#contenedorAmigos {
    width: 250px;   
}

.lblAmigos {
    color: black;
}

#search {

}

#search input[type="text"] {
    background: url(IMG/search-dark.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    width: 200px;
}

table{
    height: 100%;
    width: 80%;
}

#contenedor {   
    overflow: auto;
    height: 90%;
    width: 100%
}

.amigo {
    border:2px solid lightgray;
    padding: 8px 8px 8px 32px;
    font-family: Arial, Verdana;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-color: white;
    height: 15%;
    width: 97%;
    margin: 3px;
}

#imagenAmigo{
    width: 100px;
    height: 100px;
    float: top;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100px 96px;
    background-color: white;
    margin: 70px;
}

.arriba {
    height: 40%;
    width: 100%;
}

.abajo {
    height: 40%;
    width: 100%;
    
}

.portada {
    height: 100%;
    width: 100%;
}