.contenedores {
    border:2px solid #ACD8F0;
    //height:470px;
    background-color: white;
    padding:10px;
    text-align:left;
    margin:0 auto;


    padding:10px;
    height:100%; 
    width:250px; 
    margin-right: 0px;    

}

#search input[type="text"] {

    background: url(IMG/search-dark.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 100%x;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

table{    
    height: 100%;
    width: 40%;
}

.contenedor {   
    border:2px solid #ACD8F0;
    border-top-color: #3b3b2f;
    border-bottom-color:  #3b3b2f;
        
    background-color: white;
    overflow: auto;
    height: 100%;
    width: 100%;    
    overflow-x: hidden;   
}
textarea{
    resize: none;
}

.boton{
  color: white;
  background: url(../Imagenes/backgroundButton.png);
  background-color: #584545 ;
  border: 1px solid #999;  
  border-radius: 5px;
  -webkit-user-select: none;
  cursor: pointer;
  
}
.boton:hover::before {
  border-color: black;
   background-color: rgba(255,0,0,0.30) ; 
}
.boton:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

